.footer__link-item {
  margin: 0;
  padding: 0;
}
/* 480 */
@media screen and (max-width: 480px) {
  .footer__link-item {
    margin-bottom: 32px;
  }

  :last-child
  .footer__link-item:last-child {
    margin-bottom: 0;
  }
}
