/* 1280 */
.lead__title {
  font-size: 96px;
  line-height: 104%;
  font-weight: 900;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 32px;
  max-width: 720px;
}
/* 768 */
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12vw;
  }
}
/* 480 */
@media screen and (max-width: 480px) {
  .lead__title {
    margin-bottom: 16px;
  }
}
