.lead__image {
  max-width: 984px;
  height: auto;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 8px;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 928px) {
  .lead__image {
    max-width: 100vw;
  }
}
