.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 55px;
    max-width: 420px;
  }
}
@media screen and (max-width: 480px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
    max-width: 250px;
  }
}
