.place__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #aaa;
  letter-spacing: 0.2em;
  /*  в тз это значение во все расширениях */
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 100%;
  }
}
