.place__website {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 12px;
  align-self: flex-end;

}

@media screen and (max-width: 480px) {
  .place__website {
    width: 90%;
    margin: 0 auto;
  }
}
